/**
 * Variables
 */


/*
 * Fonts
 * ========================================================================== */

$font-family: Gilroy, Arial, sans-serif;
$font-family-title: Poppins, Arial, sans-serif;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;

$basic-font-size: 62.5%;

/*
 * Colors
 * ========================================================================== */

$blue: #00b3df;
$red: #ff7477;
$white: #fff;
$black: #131112;
$gray: #616161;

$text-color: $black;
$inverted-text-color: $white;
