/**
 * Typography
 */

html,
body {
  font-family: $body-font;
  font-weight: $body-font-weight;
}

html {
  font-size: $basic-font-size;

  // Prevent responsive screen width overflow
  width: 100%;
  overflow-x: hidden;

  // Smooth scroll
  scroll-behavior: smooth;
}

body {
  color: $text-color;
  font-size: $paragraph;
  line-height: $line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
  // text-rendering: optimizeSpeed;

  text-size-adjust: 100%;

  position: relative;

  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: bold;
}


html,
button,
input,
select,
textarea {
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
    text-decoration: none;
    outline: 0;
  }

  &:focus,
  &:active,
  &:hover {
    color: $text-color;
    text-decoration: underline;
    outline: 0;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

input {
  &:focus {
    outline: none;
  }
}

[disabled] {
  pointer-events: none;
  opacity: 0.5
}
